<a href="/">Home</a>
<h2>Sign Up</h2>
<form action="/user/signup" method="POST">
  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}
  <div>
    <input placeholder="Username" name="username"/>
    <label for="floatingInput">Username</label>
  </div><br>
  <div>
    <input type="password" placeholder="Password" name="password" />
    <label for="floatingPassword">Password</label>
  </div><br>
  <div>
    <input type="password" placeholder="Repeat Password" name="passwordRepeat" />
    <label for="floatingPassword">Repeat password</label>
  </div><br>
  <button type="submit">Signup</button>
  <a href="/user/login">I already have an account</a>
</form>
